

<div class="content" role="main">


  <h2>Paysaan Services</h2>

  <div class="card-container">
    <a class="card" [routerLink]="['/register']">
      <mat-icon>create</mat-icon>
      &nbsp;&nbsp;
      <span>Register</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" [routerLink]="['/payments']">
      <mat-icon>payment</mat-icon>
      &nbsp;&nbsp;
      <span>Make a Payment</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" [routerLink]="['/view']">
      <mat-icon>view_list</mat-icon>
      &nbsp;&nbsp;
      <span>View Transactions</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>

</div>


